<% if tasks.any? %>
<section>

  <h3>Tasks (<%= tasks.count %>)  Completed(<%= $tasks.find(completed: true).count %>)</h3> 
  <% tasks.to_a.each do |task| %>
    <% if task['completed'] == true %>
      <article class='rounded-corners green-background' style='padding: 20px; margin-bottom: 10px'>
    <% else%>
    <article class='rounded-corners' style='padding: 20px; margin-bottom: 10px'>
    <% end%>

      <b><%= task['owner'] %></b>
      <b><p><%= task['name'] %><p></b>
      <p><%= task['description'] %></p>

      <p><img src='<%= task['image'] %>' alt="Task image missing" style="width:304px;height:228px;"></p>


      <small><a href="/delete?task_id=<%= task['_id'] %>" style='float: right'>(delete)</a></small>

      <small><a href="/add_like?task_id=<%= task['_id'] %>" style='float: right'>Like (<%= task['likes']%>)</a></small>

      <% if task['completed'] == true %>
        <small><a href="/mark_incomplete?task_id=<%= task['_id'] %>" style='float: left'>(Mark as incomplete)</a></small>
      <% else%>
        <small><a href="/mark_completed?task_id=<%= task['_id'] %>" style='float: left'>(Mark as completed)</a></small>
      <% end%>
    </article>

    <!-- <button type='button' class='btn'><a href="/delete_all">Remove all </a></button> -->


    <% end %>
    <a href="/delete_all"><button type='button' class='btn'> Remove all</button></a>
  </section>
  <% else%>
  <section>
    <article class='rounded-corners' style='border: 1px solid lightblue; padding: 20px; margin-bottom: 10px'>
      <b>No Tasks</b>
    </article>
  </section>
  <% end %>
